:root {
  --theme-black: hsl(0, 0%, 0%);
  --theme-white: hsl(0, 0%, 100%);

  --theme-mint-100: hsl(160, 100%, 10%);
  --theme-mint-200: hsl(160, 100%, 20%);
  --theme-mint-300: hsl(160, 100%, 30%);
  --theme-mint-400: hsl(160, 100%, 40%);
  --theme-mint-500: hsl(160, 100%, 50%);
  --theme-mint-600: hsl(160, 100%, 60%);
  --theme-mint-700: hsl(160, 100%, 70%);
  --theme-mint-800: hsl(160, 100%, 80%);
  --theme-mint-900: hsl(160, 100%, 90%);

  --theme-coral-100: hsl(16, 100%, 32%);
  --theme-coral-200: hsl(16, 100%, 39%);
  --theme-coral-300: hsl(16, 100%, 46%);
  --theme-coral-400: hsl(16, 100%, 53%);
  --theme-coral-500: hsl(16, 100%, 60%);
  --theme-coral-600: hsl(16, 100%, 67%);
  --theme-coral-700: hsl(16, 100%, 74%);
  --theme-coral-800: hsl(16, 100%, 81%);
  --theme-coral-900: hsl(16, 100%, 88%);

  --theme-green-100: hsl(120, 100%, 12%);
  --theme-green-200: hsl(120, 100%, 19%);
  --theme-green-300: hsl(120, 100%, 26%);
  --theme-green-400: hsl(120, 100%, 33%);
  --theme-green-500: hsl(120, 100%, 40%);
  --theme-green-600: hsl(120, 100%, 47%);
  --theme-green-700: hsl(120, 100%, 54%);
  --theme-green-800: hsl(120, 100%, 61%);
  --theme-green-900: hsl(120, 100%, 68%);
}