#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

blockquote {
    quotes: '"' '"' "'" "'";
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote blockquote::before {
    content: open-quote;
    color: red;
}

blockquote blockquote::after {
    content: close-quote;
    color: red;
}

div.div1 {
    quotes: '"' '"' "'" "'";
}
div.div1::before {
    content: open-quote;
}
div.div1::after {
    content: close-quote;
}
div.div1 div.div1_1::before {
    content: open-quote;
}
div.div1 div.div1_1::after {
    content: close-quote;
}
