:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  /*------------------*/
  /*  red  */
  /*------------------*/
  --color-red100: hsl(0, 100%, 18%);
  --color-red200: hsl(0, 100%, 26%);
  --color-red300: hsl(0, 100%, 34%);
  --color-red400: hsl(0, 100%, 42%);
  --color-red500: hsl(0, 100%, 50%);
  --color-red600: hsl(0, 100%, 58%);
  --color-red700: hsl(0, 100%, 66%);
  --color-red800: hsl(0, 100%, 74%);
  --color-red900: hsl(0, 100%, 82%);

  /*------------------*/
  /*  blue  */
  /*------------------*/
  --color-blue100: hsl(240, 100%, 18%);
  --color-blue200: hsl(240, 100%, 26%);
  --color-blue300: hsl(240, 100%, 34%);
  --color-blue400: hsl(240, 100%, 42%);
  --color-blue500: hsl(240, 100%, 50%);
  --color-blue600: hsl(240, 100%, 58%);
  --color-blue700: hsl(240, 100%, 66%);
  --color-blue800: hsl(240, 100%, 74%);
  --color-blue900: hsl(240, 100%, 82%);

  /*------------------*/
  /*  yellow  */
  /*------------------*/
  --color-yellow100: hsl(60, 100%, 18%);
  --color-yellow200: hsl(60, 100%, 26%);
  --color-yellow300: hsl(60, 100%, 34%);
  --color-yellow400: hsl(60, 100%, 42%);
  --color-yellow500: hsl(60, 100%, 50%);
  --color-yellow600: hsl(60, 100%, 58%);
  --color-yellow700: hsl(60, 100%, 66%);
  --color-yellow800: hsl(60, 100%, 74%);
  --color-yellow900: hsl(60, 100%, 82%);

  /*------------------*/
  /*  orange  */
  /*------------------*/
  --color-orange100: hsl(39, 100%, 18%);
  --color-orange200: hsl(39, 100%, 26%);
  --color-orange300: hsl(39, 100%, 34%);
  --color-orange400: hsl(39, 100%, 42%);
  --color-orange500: hsl(39, 100%, 50%);
  --color-orange600: hsl(39, 100%, 58%);
  --color-orange700: hsl(39, 100%, 66%);
  --color-orange800: hsl(39, 100%, 74%);
  --color-orange900: hsl(39, 100%, 82%);

  /*------------------*/
  /*  green  */
  /*------------------*/
  --color-green100: hsl(120, 100%, 0%);
  --color-green200: hsl(120, 100%, 10%);
  --color-green300: hsl(120, 100%, 20%);
  --color-green400: hsl(120, 100%, 30%);
  --color-green500: hsl(120, 100%, 40%);
  --color-green600: hsl(120, 100%, 50%);
  --color-green700: hsl(120, 100%, 60%);
  --color-green800: hsl(120, 100%, 70%);
  --color-green900: hsl(120, 100%, 80%);

  /*------------------*/
  /*  purple  */
  /*------------------*/
  --color-purple100: hsl(270, 100%, 36%);
  --color-purple200: hsl(270, 100%, 42%);
  --color-purple300: hsl(270, 100%, 48%);
  --color-purple400: hsl(270, 100%, 54%);
  --color-purple500: hsl(270, 100%, 60%);
  --color-purple600: hsl(270, 100%, 66%);
  --color-purple700: hsl(270, 100%, 72%);
  --color-purple800: hsl(270, 100%, 78%);
  --color-purple900: hsl(270, 100%, 84%);

  /*------------------*/
  /*  pink  */
  /*------------------*/
  --color-pink100: hsl(340, 100%, 80%);
  --color-pink200: hsl(340, 100%, 82%);
  --color-pink300: hsl(340, 100%, 84%);
  --color-pink400: hsl(340, 100%, 86%);
  --color-pink500: hsl(340, 100%, 88%);
  --color-pink600: hsl(340, 100%, 90%);
  --color-pink700: hsl(340, 100%, 92%);
  --color-pink800: hsl(340, 100%, 94%);
  --color-pink900: hsl(340, 100%, 96%);

  /*------------------*/
  /*  teal  */
  /*------------------*/
  --color-teal100: hsl(180, 100%, 9%);
  --color-teal200: hsl(180, 100%, 18%);
  --color-teal300: hsl(180, 100%, 27%);
  --color-teal400: hsl(180, 100%, 36%);
  --color-teal500: hsl(180, 100%, 45%);
  --color-teal600: hsl(180, 100%, 54%);
  --color-teal700: hsl(180, 100%, 63%);
  --color-teal800: hsl(180, 100%, 72%);
  --color-teal900: hsl(180, 100%, 81%);

  /*------------------*/
  /*  gray  */
  /*------------------*/
  --color-gray100: hsl(0, 0%, 18%);
  --color-gray200: hsl(0, 0%, 26%);
  --color-gray300: hsl(0, 0%, 34%);
  --color-gray400: hsl(0, 0%, 42%);
  --color-gray500: hsl(0, 0%, 50%);
  --color-gray600: hsl(0, 0%, 58%);
  --color-gray700: hsl(0, 0%, 66%);
  --color-gray800: hsl(0, 0%, 74%);
  --color-gray900: hsl(0, 0%, 82%);

  /*------------------*/
  /*  darkgray  */
  /*------------------*/
  --color-darkgray100: hsl(0, 0%, 10%);
  --color-darkgray200: hsl(0, 0%, 15%);
  --color-darkgray300: hsl(0, 0%, 20%);
  --color-darkgray400: hsl(0, 0%, 25%);
  --color-darkgray500: hsl(0, 0%, 30%);
  --color-darkgray600: hsl(0, 0%, 35%);
  --color-darkgray700: hsl(0, 0%, 40%);
  --color-darkgray800: hsl(0, 0%, 45%);
  --color-darkgray900: hsl(0, 0%, 50%);

  /*------------------*/
  /*  lightgray  */
  /*------------------*/
  --color-lightgray100: hsl(0, 0%, 50%);
  --color-lightgray200: hsl(0, 0%, 55%);
  --color-lightgray300: hsl(0, 0%, 60%);
  --color-lightgray400: hsl(0, 0%, 65%);
  --color-lightgray500: hsl(0, 0%, 70%);
  --color-lightgray600: hsl(0, 0%, 75%);
  --color-lightgray700: hsl(0, 0%, 80%);
  --color-lightgray800: hsl(0, 0%, 85%);
  --color-lightgray900: hsl(0, 0%, 90%);

  /*------------------*/
  /*  coral  */
  /*------------------*/
  --color-coral100: hsl(16, 100%, 41%);
  --color-coral200: hsl(16, 100%, 47%);
  --color-coral300: hsl(16, 100%, 53%);
  --color-coral400: hsl(16, 100%, 59%);
  --color-coral500: hsl(16, 100%, 65%);
  --color-coral600: hsl(16, 100%, 71%);
  --color-coral700: hsl(16, 100%, 77%);
  --color-coral800: hsl(16, 100%, 83%);
  --color-coral900: hsl(16, 100%, 89%);

  /*------------------*/
  /*  mint  */
  /*------------------*/
  --color-mint100: hsl(160, 100%, 18%);
  --color-mint200: hsl(160, 100%, 26%);
  --color-mint300: hsl(160, 100%, 34%);
  --color-mint400: hsl(160, 100%, 42%);
  --color-mint500: hsl(160, 100%, 50%);
  --color-mint600: hsl(160, 100%, 58%);
  --color-mint700: hsl(160, 100%, 66%);
  --color-mint800: hsl(160, 100%, 74%);
  --color-mint900: hsl(160, 100%, 82%);

  /*------------------*/
  /*  cyan  */
  /*------------------*/
  --color-cyan100: hsl(190, 100%, 36%);
  --color-cyan200: hsl(190, 100%, 42%);
  --color-cyan300: hsl(190, 100%, 48%);
  --color-cyan400: hsl(190, 100%, 54%);
  --color-cyan500: hsl(190, 100%, 60%);
  --color-cyan600: hsl(190, 100%, 66%);
  --color-cyan700: hsl(190, 100%, 72%);
  --color-cyan800: hsl(190, 100%, 78%);
  --color-cyan900: hsl(190, 100%, 84%);

  /*------------------*/
  /*  violet  */
  /*------------------*/
  --color-violet100: hsl(290, 76%, 56%);
  --color-violet200: hsl(290, 76%, 60%);
  --color-violet300: hsl(290, 76%, 64%);
  --color-violet400: hsl(290, 76%, 68%);
  --color-violet500: hsl(290, 76%, 72%);
  --color-violet600: hsl(290, 76%, 76%);
  --color-violet700: hsl(290, 76%, 80%);
  --color-violet800: hsl(290, 76%, 84%);
  --color-violet900: hsl(290, 76%, 88%);

  /*------------------*/
  /*  indigo  */
  /*------------------*/
  --color-indigo100: hsl(225, 100%, 9%);
  --color-indigo200: hsl(225, 100%, 18%);
  --color-indigo300: hsl(225, 100%, 27%);
  --color-indigo400: hsl(225, 100%, 36%);
  --color-indigo500: hsl(225, 100%, 45%);
  --color-indigo600: hsl(225, 100%, 54%);
  --color-indigo700: hsl(225, 100%, 63%);
  --color-indigo800: hsl(225, 100%, 72%);
  --color-indigo900: hsl(225, 100%, 81%);

  /*------------------*/
  /*  amber  */
  /*------------------*/
  --color-amber100: hsl(45, 100%, 18%);
  --color-amber200: hsl(45, 100%, 26%);
  --color-amber300: hsl(45, 100%, 34%);
  --color-amber400: hsl(45, 100%, 42%);
  --color-amber500: hsl(45, 100%, 50%);
  --color-amber600: hsl(45, 100%, 58%);
  --color-amber700: hsl(45, 100%, 66%);
  --color-amber800: hsl(45, 100%, 74%);
  --color-amber900: hsl(45, 100%, 82%);
}